{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Webix DEMO</title>

    {% include "django_webix/static_meta.html" %}
</head>
<body>
</body>

<script type="text/javascript" charset="utf-8">
    webix.ready(function () {
        webix.ui({
            id: "main_container",
            rows: [
                {
                    view: "toolbar",
                    elements: [
                        {
                            align: "left",
                            width: 300,
                            template: "<span style='text-decoration:none; color: #FFFFFF; border:none;'>Django Webix DEMO</span>",
                            type: "header",
                            borderless: true
                        },
                        {$template: "Spacer"},
                    ]
                },
                {
                    type: "space",
                    id: "content",
                    cols: [
                        {
                            view: "sidebar",
                            id: "sidebar",
                            width: 250,
                            data: [
                                {% if perms.library.view_author %}
                                    {
                                        id: "authors",
                                        value: "Authors",
                                        icon: "fas fa-pen-fancy",
                                        url: "{% url 'library.author.list' %}",
                                        ajax: true
                                    },
                                {% endif %}
                                {% if perms.library.view_book %}
                                    {
                                        id: "books",
                                        value: "Books",
                                        icon: "fas fa-book",
                                        url: "{% url 'library.book.list' %}",
                                        ajax: true
                                    },
                                {% endif %}
                            ],
                            on: {
                                onAfterSelect: function (id) {
                                    var item = this.getItem(id);
                                    if ('ajax' in item && item.ajax === true) {
                                        load_js(item.url);
                                    } else {
                                        location.href = item.url;
                                    }
                                }
                            }
                        },
                        {
                            view: "scrollview",
                            borderless: true,
                            scroll: "y",
                            body: {
                                rows: [
                                    {
                                        margin: 5,
                                        id: 'content_right',
                                        type: "wide",
                                        rows: []
                                    },
                                    {% if request.user.is_anonymous %}
                                        {
                                            view: "template",
                                            autoheight:true,
                                            css: {"text-align": "center", "padding": "10px"},
                                            template: "<b>You have to login to see this page</b><br/>Go to <a href='{% url "admin:index" %}'>admin</a> page"
                                        }
                                    {% endif %}
                                ]
                            }
                        }
                    ]
                }
            ]
        });

        webix.extend($$('content_right'), webix.OverlayBox);

        $$('sidebar').select("authors");
    });
</script>
</html>
